html,
* {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

button {
  border: none;
  background: transparent;
  width: auto;
  height: auto;
}

.full-width {
  width: 100%;
}
