.LoginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: "center";
  gap: 20px;
  width: 100%;
}

.LoginStepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ButtonLabel {
  width: auto;
}

.ButtonIcon {
  width: auto;
  margin-left: 10px;
}
